/* === MY STYLES === */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');




html, body {
	height:100%;
}


/* ===== BIG DESKTOP LAYOUT ===== */
/* Desktop Layout: 1221+ */

@media only screen and (min-width: 1160px) {

	/* ====================== LOGO ======================= */


	#logo1 {
		position:fixed;
		left:36px;
		top:36px;
		color:#fff;
		font-size:12px;
		z-index:20;

	}

	#logo1 img {
		width:100px;
		height:auto;
		transition: 0.3s;
	}


	#logo2 {
		position:absolute;
		left:36px;
		top:36px;
		color:#fff;
		font-size:12px;
		z-index:20;
		/*border: solid 4px red;*/
		transform: translate(106px, 44px);
	}

	#logo2 p {
		font-family: "Montserrat", sans-serif;
		font-size: 10px;
		color:#ccc;
		text-transform: uppercase;
		transition: 0.3s;

		/*position:absolute;*/

	}



	/* ====================== S1 ======================= */

	#s1 {
		height:30%;
		background-color: #fff;
	}


	/* ====================== S2 - INDEX ======================= */

	#s2 {
		/*height: 70%;*/
		background:#f64b30;

	}

	.intro {
		height:70%;
		padding: 0 36px 48px 36px ;
		/*border: solid 1px black;
		padding-bottom: 20px;*/


	}

	.intro h1 {
		font-family: 'Montserrat', sans-serif;
		font-size:200px;
		text-transform:uppercase;
		color:#bbff1e;
		font-weight:600;
		position: absolute;
		transform: translateY(248px);
		transition: 0.3s;
	}

	.intro h2 {
		font-family: 'Nunito', sans-serif;
		font-size:106px;
		text-transform:none;
		color:#fff;
		font-weight:100;
		position: absolute;
		transform: translate(6px,140px);
		transition: 0.3s;
	}


	/* ====================== S2 - ABOUT ======================= */

	.about {
		margin: 0 10% 0 20% ;
		/*border: solid 1px black;*/
		padding-bottom: 20px;



	}

	.about h1 {
		font-family: 'Montserrat', sans-serif;
		font-size:260px;
		text-transform:uppercase;
		color:#bbff1e;
		font-weight:600;
		transition: 0.3s;



	}

	.about h3 {
		margin: 16px;
		font-family: 'Nunito', sans-serif;
		font-size:20px;
		line-height: 28px;
		text-transform:none;
		color:#fff;
		font-weight:100;




	}



	.resume {
		padding: 32px 16px;
		width:100%;
		/*height:100px;*/
		background-color: #bbff1e;
		margin-top: 48px;
		/*transition: .3s;*/



	}

	.resume h4 {
		color:#f64b30;

		font-family: "Montserrat", sans-serif;
		font-size: 44px;
		text-transform: uppercase;
		text-align: center;


	}

	.about a {
		text-decoration: none;

	}

	.resume:hover {
		background-color: #f64b30;
		border: solid 8px #bbff1e;
		padding: 24px 16px;


	}

	.resume:hover h4 {
		color: #bbff1e;


	}



	/* ====================== S2 - CONTACT ======================= */

	.contact {
		margin: 0 10% 0 20% ;
		border: solid 1px black;
		padding: 20px 0 60px;




	}

	.contact h1 {
		font-family: 'Montserrat', sans-serif;
		font-size:120px;
		text-transform:uppercase;
		color:#bbff1e;
		font-weight:600;
		margin-left: 10px;
		transition: 0.3s;



	}

	.contact h2 {
		margin: 16px;
		font-family: 'Nunito', sans-serif;
		font-size:20px;
		line-height: 28px;
		text-transform:none;
		color:#fff;
		font-weight:100;



	}


	/* ====================== S3 - PORTFOLIO PAGE + MASONRY ======================= */
	#s3 {
		/*padding: 20px 10% 20px 20%;*/



	}



	.grid {
	  background: #fff;
		/*display: block;*/
		/*position: absolute;
		left:0;
		right:0;*/

		margin: 0 8px 16px 8px;
		/*border: solid 1px red;*/

	}

	/* clearfix */
	.grid:after {
	  content: '';
	  display: block;
	  clear: both;
	}

	/* ---- grid-item ---- */

	.grid-item {
	  /*width: 100%;
	  height: auto;*/
	  float: right;
	  /*border: 2px solid red;*/
		margin: 0 16px 32px 16px;
	}

	/*.grid-item--width2 { width: 320px; }
	.grid-item--width3 { width: 480px; }
	.grid-item--width4 { width: 640px; }

	.grid-item--height2 { height: 200px; }
	.grid-item--height3 { height: 260px; }
	.grid-item--height4 { height: 360px; }*/



	.one img {
			/*width:65%;
			height:auto;*/
			/*display: block;*/
			width: 760px;
		  height: auto;

			/*background-image: url("../images/silkka2.jpg");
	    background-repeat: no-repeat;
	    background-size: contain;*/
			transition: 0.3s;


	}

	.two img {

			width: 360px;
		  height: auto;
			transition: 0.3s;


	}

	.three img {
			width: 620px;
		  height: auto;
			transition: 0.3s;



	}
	.four img {
			width: 232px;
		  height: auto;
			transition: 0.3s;


	}
	.five img {
			width: 232px;
		  height: auto;

			border: solid 1px #ddd;
			transition: 0.3s;


	}
	.six img{
			width: 360px;
		  height: auto;

			transition: 0.3s;


	}

	figure.grid-item {
	  font-family: 'Montserrat', sans-serif;
	  /*color: #000000;*/
	  text-align: center;
	}



	figure.grid-item figcaption {
	  top: 50%;
	  left: 20px;
	  right: 20px;
	  position: absolute;
		display: block;
	  opacity: 0;
	  z-index: 1;
	}

	figure.grid-item h2 {
	  margin: 0;
		font-weight: 400;
		font-size: 24px;
		line-height:30px;
		text-transform: uppercase;
		color:#bbff1e;
	}


	figure.grid-item:after {
	  background-color: #f64b30;
	  position: absolute;
	  content: "";
	  display: block;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	  /*top: 8px;
	  left: 8px;
	  right: 8px;
	  bottom: 8px;*/
	  opacity: 0;
		/*border: solid 8px #bbff1e;*/
	}

	figure.grid-item:hover figcaption {
	  -webkit-transform: translateY(-50%);
	  transform: translateY(-50%);
	  opacity: 1;
	}

	figure.grid-item:hover:after {
	  opacity: 1;
	}







	/* ====================== S3 - PROJECT PAGES ======================= */

	.work {
		margin: 0 24px 48px 24px ;
		/*border: solid 1px black;*/
		/*transform: translate(0, -74px);*/


	}


	#s3 h1 {
		margin: 0 24px 16px 24px ;
		font-family: "Montserrat", sans-serif;
		font-size: 86px;
		font-weight: 600;
		text-transform: uppercase;
		/*position: absolute;*/
		/*transform: translateX(12px);*/
		color:#333;
		text-shadow: 5px 5px #d3d3d3;
		z-index: 1;


	}

	.work h3 {
		font-family: "Montserrat", sans-serif;
		font-weight: 200;
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 16px;
		text-transform: uppercase;


	}

	.work p {
		font-family: "Nunito", sans-serif;
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;



	}


	.work iframe {
	  width: 65%;
    height: 460px;
		margin-bottom: 32px;

	}

	.work img {
		width: 65%;
		margin-bottom: 32px;
		margin-right: 16px;

	}

	.technical {
		margin-top: 16px;

	}

	.technical p {
		font-family: "Nunito", sans-serif;
		font-weight: 100;
		font-size: 10px;
		line-height: 16px;

	}


	.team {
		margin-top: 16px;

	}

	.team p {
		font-family: "Nunito", sans-serif;
		font-weight: 100;
		font-size: 10px;
		line-height: 16px;


	}

	.description {
		position: absolute;
		right:5%;
		width:28%;

	}

	.weblink {
		margin-top: 16px;
		width:100%;

		background-color: #bbff1e;
		padding: 36px 16px 20px;
		text-align: center;




	}

	.weblink:hover {
		background-color: #333; /*ff522b*/
		/*border: solid 8px #bbff1e;
		padding: 28px 16px 12px;*/


	}

	.work a {
		text-decoration: none;


	}

	.weblink h3 {
		font-size:32px;
		line-height: 38px;
		color: #333;
		font-weight: 400;

	}

	.weblink:hover h3 {
		color: #bbff1e;


	}






	/* ====================== S4 - FOOTER ======================= */

	#s4 {
		/*height:40%;*/
		background-color: #fff;
		position:relative;
		padding: 20px 10% 20px 20%;
		/*margin: 0 24px 48px 24px ;*/



	}


	.previous {
		/*height:70%;*/
		width:48%;
		/*border: solid 8px black;*/
		background-color: #bbff1e;
		display: inline-block;
		margin-right: 20px;

		padding: 86px 16px 16px;

	}

	.previous h3 {
		font-family: "Montserrat", sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 20px;
		color:#333;

	}

	.previous:hover {
		background-color: #333;
		/*border: solid 8px #bbff1e;
		padding: 78px 8px 8px;*/
	}

	.previous:hover h3 {
		color:#bbff1e;
	}

	.next {

		width:48%;
		/*border: solid 8px black;*/
		background-color: #bbff1e;
		display: inline-block;

		padding: 86px 16px 16px;

	}

	.next h3 {
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 400;
		text-align: right;
		color:#333;


	}

	.next:hover {
		background-color: #333;
		/*border: solid 8px #bbff1e;
		padding: 78px 8px 8px;*/
	}

	.next:hover h3 {
		color:#bbff1e;
	}

	.back {
		margin-top: 20px;
		/*height:25%;*/
		width:98.5%;
		/*border: solid 8px black;*/
		background-color: #bbff1e;
		padding: 20px 16px;




	}

	.back h3 {
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 400;
		text-align: center;
		color:#333;


	}

	.back:hover {
		background-color: #333;
		/*border: solid 8px #bbff1e;
		padding: 12px 8px;*/
	}

	.back:hover h3 {
		color:#bbff1e;
	}

	#s4 a {

		text-decoration: none;
	}



	/* ====================== S5 - FOOTER ======================= */


	#s5 {
		height:20%;
		background-color: #f64b30;
		position: relative;
		/*border-top: solid 2px black;*/
		/*padding:0 20px;*/
		margin: 0px;




	}

	.foot {
		position:absolute;
		bottom:36px;
		left:20%;

	}

	.foot h3 {
		margin-bottom:-4px;
		margin-left: 16px;
		font-family: "Montserrat", sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color:#333;


	}

	.copyright {
		position: absolute;
		bottom:36px;
		right:10%;

	}

	.copyright h3 {
		margin-right: 16px;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		font-size: 10px;
		color:#333;


	}

}
