/* === MY STYLES === */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');


/* --- phone first --- */

html, body {
	height:100%;
}


/* ====================== LOGO ======================= */


#logo {
	position:fixed;
	left:36px;
	top:36px;
	color:#fff;
	font-size:12px;
	z-index:20;
}

#logo img {
	width:50px;
	height:auto;
}

#logo p {
	font-family: "Montserrat", sans-serif;
	font-size: 10px;
	color:#ccc;
	text-transform: uppercase;
	transform: translate(106px, -56px);

}



/* ====================== S1 ======================= */

#s1 {
	height:30%;
	background-color: #fff;
}


/* ====================== S2 - INDEX ======================= */

#s2 {
	/*height: 70%;*/
	background:#f64b30;
}

.intro {
	height:70%;

}

.intro h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:220px;
	text-transform:uppercase;
	color:#bbff1e;
	font-weight:600;
}

.intro h2 {
	font-family: 'Nunito', sans-serif;
	font-size:120px;
	text-transform:none;
	color:#fff;
	font-weight:100;
}


/* ====================== S2 - ABOUT ======================= */

.about {
	padding: 20px 10% 20px 20% ;



}

.about h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:260px;
	text-transform:uppercase;
	color:#bbff1e;
	font-weight:600;



}

.about h3 {
	margin: 16px;
	font-family: 'Nunito', sans-serif;
	font-size:20px;
	line-height: 28px;
	text-transform:none;
	color:#fff;
	font-weight:100;



}



.resume {
	padding: 32px 16px;
	width:100%;
	/*height:100px;*/
	background-color: #bbff1e;
	margin-top: 48px;
	/*transition: .3s;*/


}

.resume h4 {
	color:#f64b30;

	font-family: "Montserrat", sans-serif;
	font-size: 44px;
	text-transform: uppercase;
	text-align: center;


}

.about a {
	text-decoration: none;

}

.resume:hover {
	background-color: #f64b30;
	border: solid 8px #bbff1e;
	padding: 24px 16px;


}

.resume:hover h4 {
	color: #bbff1e;


}



/* ====================== S2 - CONTACT ======================= */

.contact {
	padding: 20px 10% 20px 20%;



}

.contact h1 {
	font-family: 'Montserrat', sans-serif;
	font-size:120px;
	text-transform:uppercase;
	color:#bbff1e;
	font-weight:600;



}



/* ====================== S3 - PORTFOLIO PAGE + MASONRY ======================= */
#s3 {
	padding: 20px 10% 20px 20%;



}



.grid {
  background: #fff;
	padding:20px;
	margin-bottom: 60px;

}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  /*width: 320px;
  height: 240px;*/
  float: left;
  /*border: 2px solid red;*/
	margin: 16px;
}

/*.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }*/



.one img {
		width: 680px;
	  height: 432px;

		/*background-image: url("../images/silkka2.jpg");
    background-repeat: no-repeat;
    background-size: contain;*/


}

.two img {
		width: 315px;
	  height: 200px;



}

.three img {
		width: 450px;
	  height: 300px;




}
.four img {
		width: 252px;
	  height: 189px;



}
.five img {
		width: 300px;
	  height: 225px;

		border: solid 1px #ddd;



}
.six img{
		width: 315px;
	  height: 200px;




}


.grid-item h2 {
	font-family: 'Montserrat', sans-serif;

	text-transform:uppercase;
	font-weight:400;
	font-size:60px;
	position:absolute;
	top:50%;
	left:50%; /* HOWEVER THIS TREATS THE EDGES 50%, SO THE BOX WILL BE IN THE BOTTOM RIGHT */
	transform:translate(-50%,-50%); /* this will correct that to move it to the center */
	-webkit-transform:translate(-50%,-50%); /* this will let it work in the older versions of Safari */
	color:rgba(255,255,255,0);
	background-color: rgba(255,255,255,0);
	padding:20px;
	transition:all .35s ease-out 0s;
}

.grid-item:hover h2 {
	color:#ff522b;
}

.grid-item:hover {
	background-color:#bbff1e;
}


/* opacity */
.grid-item img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.grid-item:hover img {
	opacity: .1;
}








/* ====================== S3 - PROJECT PAGES ======================= */

.work {
	padding: 20px 10% 20px 20%;


}




.work h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 86px;
	font-weight: 600;
	text-transform: uppercase;
	position: fixed;
	transform: translate(0, -100px); /*rotate(355deg)*/
	color:#111;
	/*text-shadow: 5px 5px silver;*/


}

.work h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 16px;
	text-transform: uppercase;


}

.work p {
	font-family: "Nunito", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;



}

.work img {
	width: 60%;
	margin-bottom: 20px;

}

.technical {
	margin-top: 16px;

}

.technical p {
	font-family: "Nunito", sans-serif;
	font-weight: 100;
	font-size: 10px;
	line-height: 16px;

}


.team {
	margin-top: 16px;

}

.team p {
	font-family: "Nunito", sans-serif;
	font-weight: 100;
	font-size: 10px;
	line-height: 16px;


}

.description {
	position: fixed;
	right:10%;
	width:25%;

}

.weblink {
	margin-top: 16px;
	width:100%;
	background-color: #bbff1e;
	padding: 36px 16px;
	text-align: center;


}

.weblink:hover {
	background-color: #fff;


}

.work a {
	text-decoration: none;


}

.weblink h3 {
	font-size:32px;
	color: #333;
	font-weight: 400;

}





/* ====================== S4 - FOOTER ======================= */

#s4 {
	height:55%;
	background-color: #fff;
	position:relative;
	padding: 20px 10% 20px 20%;



}


.previous {
	height:70%;
	width:48%;
	border:solid 1px red;
	display: inline-block;
	margin-right: 20px;
	background-color: #fff;

}

.previous h3 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 200;


}

.next {
	height:70%;
	width:48%;
	border:solid 1px red;
	display: inline-block;
	background-color: #fff;

}

.next h3 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 200;


}

.back {
	margin-top: 20px;
	height:25%;
	width:98.5%;
	border: solid 1px red;
	background-color: #fff;



}

.back h3 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 200;


}




/* ====================== S5 - FOOTER ======================= */


#s5 {
	height:20%;
	background-color: #f64b30;
	position: relative;
	/*border-top: solid 2px black;*/
	/*padding:0 20px;*/




}

.foot {
	position:absolute;
	bottom:36px;
	left:20%;

}

.foot h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color:#333;


}

.copyright {
	position: absolute;
	bottom:36px;
	right:10%;

}

.copyright h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 10px;
	color:#333;


}


/* ===== TABLET LAYOUT ===== */
/* 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	#logo img {
		width:60px;
		height:auto;
	}
	/*#s1 h2 {
		font-size:30px;
		line-height:15px;
	}
	#s1 h1 {
		font-size:72px;
	}*/


}


/* ===== DESKTOP LAYOUT ===== */
/* Desktop Layout: 769px to a max of 1200px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	#logo img {
		width:100px;
		height:auto;
	}

	/*#s1 h2 {
		font-size:40px;
		line-height:0px;
	}
	#s1 h1 {
		font-size:96px;
	}
*/

}


/* ===== OVERLAY MENU INFO ===== */
/*#trigger {
	font-size:20px;
	cursor:pointer;
	position:fixed;
	top:20px;
	right:20px;
	z-index: 9;
	color:#fff;
	font-weight:bold;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	/*border:1px solid red;*/
/*}

.overlay a {
    padding: 8px;
    text-decoration: none;
	font-family: 'Passion One', cursive;
    font-size: 42px;
    color: #818181;
    display: block;
    transition: 0.3s;
	text-transform:uppercase;
	font-weight:normal;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay a.current {
	color:#CFF;
	font-style:italic;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px !important;
	line-height:0px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px;}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}

	*/
