@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

/* ===== BIG DESKTOP NAV ===== */
@media only screen and (min-width: 1160px) {
	#trigger {
			font-size:26px;
			cursor:pointer;
			position:fixed;
			top:74px;
			right:60px;
			z-index: 9;
			color:#333; /* d1d1d1 */
			font-weight:lighter;
		}

		.overlay {
		    height: 100%;
		    width: 0;
		    position: fixed;
		    z-index: 11;
		    top: 0;
		    left: 0;

		    background-color: #333; /* 4c133b */
		    overflow-x: hidden;
		    transition: 0.75s;
				/*opacity:0.5;*/
		}

		.overlay-content {
		    position: relative;
		    top: 160px;
		    width: 80%;
		    text-align: left;
		    margin-top: 30px;
				margin-left: 240px;

			/*border:1px solid red;*/
		}

		.overlay a {

		    padding: 8px 24px;
		    text-decoration: none;
				text-transform: uppercase;
			font-family: 'Montserrat', sans-serif;
		    font-weight: 400;
		    /*font-style: italic;*/
		    font-size: 86px;
		    color: #fff;
		    display: block;
		    transition: 0.3s;

			/*text-transform:uppercase;*/
		}

		.overlay a:hover, .overlay a:focus {
		    color: #bbff1e;

		}


		.overlay a.current {
			color:#fff;
			background-color: #f64b30;

		}

		.closebtn {
		    position: absolute;
		    top: 78px;
		    right: 34px;
		    font-size: 60px !important;
			line-height:0px;

		}

		.closebtn a {


		    /*font-style: italic;*/
		    font-size: 36px;
		    color: #818181;

		}


		@media screen and (max-height: 450px) {
		  .overlay a {font-size: 20px;}
		  .closebtn {
		    font-size: 40px !important;
		    top: 15px;
		    right: 35px;
		  }
		}

}




/* ===== DESKTOP NAV ===== */
@media only screen and (min-width: 769px) and (max-width: 1159px) {
	#trigger {
			font-size:26px;
			cursor:pointer;
			position:fixed;
			top:74px;
			right:60px;
			z-index: 9;
			color:#333; /* d1d1d1 */
			font-weight:lighter;
		}

		.overlay {
		    height: 100%;
		    width: 0;
		    position: fixed;
		    z-index: 11;
		    top: 0;
		    left: 0;

		    background-color: #333; /* 4c133b */
		    overflow-x: hidden;
		    transition: 0.75s;
				/*opacity:0.5;*/
		}

		.overlay-content {
		    position: relative;
		    top: 160px;
		    width: 80%;
		    text-align: left;
		    margin-top: 30px;
				margin-left: 240px;

			/*border:1px solid red;*/
		}

		.overlay a {

		    padding: 8px 24px;
		    text-decoration: none;
				text-transform: uppercase;
			font-family: 'Montserrat', sans-serif;
		    font-weight: 400;
		    /*font-style: italic;*/
		    font-size: 72px;
		    color: #fff;
		    display: block;
		    transition: 0.3s;

			/*text-transform:uppercase;*/
		}

		.overlay a:hover, .overlay a:focus {
		    color: #bbff1e;

		}


		.overlay a.current {
			color:#fff;
			background-color: #f64b30;

		}

		.closebtn {
		    position: absolute;
		    top: 78px;
		    right: 34px;
		    font-size: 60px !important;
			line-height:0px;

		}

		.closebtn a {


		    /*font-style: italic;*/
		    font-size: 36px;
		    color: #818181;

		}


		@media screen and (max-height: 450px) {
		  .overlay a {font-size: 20px;}
		  .closebtn {
		    font-size: 40px !important;
		    top: 15px;
		    right: 35px;
		  }
		}

}

/* ===== TABLET NAV ===== */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	#trigger {
			font-size:26px;
			cursor:pointer;
			position:fixed;
			top:64px;
			right:60px;
			z-index: 9;
			color:#333; /* d1d1d1 */
			font-weight:lighter;
		}

		.overlay {
		    height: 100%;
		    width: 0;
		    position: fixed;
		    z-index: 11;
		    top: 0;
		    left: 0;

		    background-color: #333; /* 4c133b */
		    overflow-x: hidden;
		    transition: 0.75s;
				/*opacity:0.5;*/
		}

		.overlay-content {
		    position: relative;
		    top: 160px;
		    width: 80%;
		    text-align: left;
		    margin-top: 30px;
				margin-left: 160px;

			/*border:1px solid red;*/
		}

		.overlay a {

		    padding: 8px 24px;
		    text-decoration: none;
				text-transform: uppercase;
			font-family: 'Montserrat', sans-serif;
		    font-weight: 400;
		    /*font-style: italic;*/
		    font-size: 72px;
		    color: #fff;
		    display: block;
		    transition: 0.3s;

			/*text-transform:uppercase;*/
		}

		.overlay a:hover, .overlay a:focus {
		    color: #bbff1e;

		}


		.overlay a.current {
			color:#fff;
			background-color: #f64b30;

		}

		.closebtn {
		    position: absolute;
		    top: 68px;
		    right: 34px;
		    font-size: 60px !important;
			line-height:0px;

		}

		.closebtn a {


		    /*font-style: italic;*/
		    font-size: 36px;
		    color: #818181;

		}


		@media screen and (max-height: 450px) {
		  .overlay a {font-size: 20px;}
		  .closebtn {
		    font-size: 40px !important;
		    top: 15px;
		    right: 35px;
		  }
		}

}


/* ===== MOBILE NAV ===== */
@media only screen and (min-width: 0px) and (max-width: 480px) {
	#trigger {
			font-size:26px;
			cursor:pointer;
			position:fixed;
			top:54px;
			right:36px;
			z-index: 9;
			color:#333; /* d1d1d1 */
			font-weight:lighter;
		}

		.overlay {
		    height: 100%;
		    width: 0;
		    position: fixed;
		    z-index: 11;
		    top: 0;
		    left: 0;

		    background-color: #333; /* 4c133b */
		    overflow-x: hidden;
		    transition: 0.75s;
				/*opacity:0.5;*/
		}

		.overlay-content {
		    position: relative;
		    top: 160px;
		    width: 80%;
		    text-align: left;
		    margin-top: 30px;
				margin-left: 36px;

			/*border:1px solid red;*/
		}

		.overlay a {

		    padding: 8px 24px;
		    text-decoration: none;
				text-transform: uppercase;
			font-family: 'Montserrat', sans-serif;
		    font-weight: 400;
		    /*font-style: italic;*/
		    font-size: 48px;
		    color: #fff;
		    display: block;
		    transition: 0.3s;

			/*text-transform:uppercase;*/
		}

		.overlay a:hover, .overlay a:focus {
		    color: #bbff1e;

		}


		.overlay a.current {
			color:#fff;
			background-color: #f64b30;

		}

		.closebtn {
		    position: absolute;
		    top: 58px;
		    right: 12px;
		    font-size: 60px !important;
			line-height:0px;

		}

		.closebtn a {


		    /*font-style: italic;*/
		    font-size: 36px;
		    color: #818181;

		}


		@media screen and (max-height: 450px) {
		  .overlay a {font-size: 20px;}
		  .closebtn {
		    font-size: 40px !important;
		    top: 15px;
		    right: 35px;
		  }
		}

}
